
version: '3.7'


services:

  rabbitmq_server:
    container_name: rabbitmq_container
    image: rabbitmq:3-management-alpine
    environment:
      - RABBITMQ_DEFAULT_USER=admin
      - RABBITMQ_DEFAULT_PASS=1234
    volumes:
        - rabbitmq-data:/var/lib/rabbitmq/
        - rabbitmq-log:/var/log/rabbitmq
    ports:
      # AMQP protocol port
      - '5672:5672'
      # HTTP management UI
      - '15672:15672'
    networks:
       - py-rabbitmq-net-prod
    restart: unless-stopped

  send-prod:
    image: py-hello-send-prod
    container_name: py-hello-send-prod-cnt
    env_file: env/.env.prod
    build:
      context: .
      dockerfile: sender/prod/Dockerfile
    volumes:
#      - '.:/app'
      - ./sender:/app
#    command: python sender/send.py
    command: /start.sh.sh
    depends_on:
      - rabbitmq_server
    networks:
      - py-rabbitmq-net-prod


volumes:
  rabbitmq-data:
  rabbitmq-log:


networks:
  py-rabbitmq-net-prod:
    driver: bridge